@{
    ViewData["Title"] = "Registrar gasto";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">Registrar gasto</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="cbx_Empresa">Empresa</label>
                            <div class="input-group">
                                <select id="cbx_Empresa" class="form-control">
                                    <option value="" disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cbx_Empresa">Solicitante</label>
                            <div class="input-group">
                                <select id="cbx_Solicitante" class="form-control">
                                    <option value="" disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cbx_TipoGasto">Tipo de gasto</label>
                            <div class="input-group">
                                <select id="cbx_TipoGasto" class="form-control">
                                    <option value="" disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="txt_Fecha">Fecha</label>
                            <div class="input-group">
                                <input type="date" id="txt_Fecha" class="form-control" placeholder="Fecha">
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cbx_TipoRendicion">Tipo de rendición</label>
                            <div class="input-group">
                                <select id="cbx_TipoRendicion" class="form-control">
                                    <option value="" disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cbx_Banco">Banco</label>
                            <div class="input-group">
                                <select id="cbx_Banco" class="form-control">
                                    <option value="" disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="txt_Importe">Importe</label>
                            <div class="input-group">
                                <input type="number" id="txt_Importe" class="form-control" placeholder="Importe" step="0.01" min="0">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="btn_Volver" type="button" class="btn btn-danger">Volver</button>
                            <button id="btn_Registrar" type="button" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let empresas = [];
        let usuarios = [];
        let tiposGastos = [];
        let tiposRendiciones = [];
        let bancos = [];

    });

    function fct_GetEmpresas() {
            $.getJSON('/Gasto/GetEmpresaData', function (response) {
                let empresas = response.data;

                    var dataSelect2 = empresas.map(function(empresa) {
                        return {
                            id: empresa.id,
                            text: empresa.ruc + ' - ' + empresa.nombre
                        };
                    });

                    $('#cbx_Empresa').empty().select2({
                        theme: 'bootstrap4',
                        data: dataSelect2, // <-- Usamos los datos mapeados
                        placeholder: "Buscar empresa...",
                        allowClear: true,
                        language: {
                            noResults: function () {
                                return "No se encontraron resultados";
                            }
                        }
                    });
            });
        }
</script>