@model YnnovaComprobantes.Models.Gasto
@{
    ViewData["Title"] = "Gestionar comprobantes";
}
<div class="card d-none" id="efec-cargando">
    <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center overlay dark">
        <i class="fas fa-3x fa-sync-alt fa-spin text-white"></i>
    </div>
</div>
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab01-tab" data-toggle="pill" href="#tab-01" role="tab"
                               aria-controls="tab-01" aria-selected="true">Gestionar comprobantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab02-tab" data-toggle="pill" href="#tab-02" role="tab"
                               aria-controls="tab-02" aria-selected="false">Gestionar devolución</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">

                        <!-- Tab 1 -->
                        <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab01-tab">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1>Gestionar Comprobantes</h1> 
                                        <a href="/Gasto/MisGastos/">Volver al listado de mis entregas a rendir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-12">
                                        <table id="tbl_Comprobantes" class="table table-bordered table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center">ID</th>
                                                    <th class="text-center">FECHA</th>
                                                    <th class="text-center">RUC</th>
                                                    <th class="text-center">SERIE</th>
                                                    <th class="text-center">NÚMERO</th>
                                                    <th class="text-center">TIPO</th>
                                                    <th class="text-center">CONCEPTO</th>
                                                    <th class="text-center">MONEDA</th>
                                                    <th class="text-center">MONTO</th>
                                                    <th class="text-center">DESCRIPCIÓN</th>
                                                    <th class="text-center">ESTADO</th>
                                                    <th class="text-center">ACCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab02-tab">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1>Gestionar Devoluciones de Anticipos</h1>
                                        <a href="/Gasto/MisGastos/">Volver al listado de mis entregas a rendir</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-12">
                                        <table id="tbl_Devoluciones" class="table table-bordered table-hover w-100">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center">ID</th>
                                                    <th class="text-center">EMPRESA</th>
                                                    <th class="text-center">USUARIO</th>
                                                    <th class="text-center">FECHA</th>
                                                    <th class="text-center">IMPORTE</th>
                                                    <th class="text-center">BANCO</th>
                                                    <th class="text-center">N° OPERACIÓN</th>
                                                    <th class="text-center">DESCRIPCIÓN</th>
                                                    <th class="text-center">ESTADO</th>
                                                    <th class="text-center">ACCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.tab-content -->
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>
    </div>
</div>
<script>
    var dtGastos;
    var dtDevoluciones;

    $(document).ready(function () {
        // Escuchar el evento cuando se muestra el tab de "Gestionar devolución"
        $('#tab02-tab').on('shown.bs.tab', function (e) {
            // Forzar el ajuste de columnas de la tabla específica
            fct_IniciarTablaDevoluciones('#tbl_Devoluciones');
        });


        // $('body').addClass('sidebar-collapse');
        var windowHeight = $('body > div.wrapper > div.content-wrapper').height() / 2;
        //CONFIGURACION POR DEFECTO DATATABLES
        $.extend($.fn.dataTable.defaults, {
            dom: "<'row align-items-center'<'col-sm-8 justify-content-start'f><'col-sm-4 c1 d-flex justify-content-end'>>" + "<'row align-items-center'<'col-sm-6'l><'col-sm-6 my-3 justify-content-start d-flex'B>" + "<'col-sm-6'i><'col-sm-6 mb-3 d-flex justify-content-end'p>" + "rt" + "<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>",
            // dom: "<'row pb-1'<'col-sm-9 d-flex'B><'col-sm-3 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-4'l><'col-sm-8 justify-content-start'f>>" + "<'row'<'col-sm-6'i><'col-sm-6 d-flex justify-content-end'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>>",
            // dom: "<'row pb-1'<'col-sm-9'B><'col-sm-3 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-10'l><'col-sm-2'f>>" + "<'row'<'col-sm-6'i><'col-sm-6'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
            // dom: "<'row pb-1'<'col-sm-10'B><'col-sm-2 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-11'l><'col-sm-1'f>>" + "<'row'<'col-sm-10'i><'col-sm-2'p>>" + "rt" + "<'row'<'col-sm-10'i><'col-sm-2'p>>",
            paging: true,
            select: true,
            scroller: false,
            deferRender: true,
            scrollY: windowHeight,
            scrollX: true,
            fixedHeader: true,
            ordering: true,
            destroy: true,
            responsive: true,
            autoWidth: false,
            processing: true,
            filter: true,
            orderMulti: true,
            stateSave: false,
            serverSide: false,
            language: {
                processing: "Procesando...",
                sSearch: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Sin registros encontrados.",
                infoFiltered: "(Total de _MAX_ registros filtrados)",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron registros",
                emptyTable: "No hay datos disponibles en la tabla",
                paginate: {
                    previous: "Anterior",
                    next: "Siguiente",
                    first: "Primero",
                    last: "Último",
                },
                aria: {
                    sortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sortDescending: ": Activar para ordenar la columna de manera descendente"
                },
                select: {
                    rows: {
                        _: "%d filas seleccionadas",
                        0: "Haz clic en una fila para seleccionarla",
                        1: "1 fila seleccionada"
                    }
                },
                buttons: {
                    copyTitle: 'Copiado en el portapapeles',
                    copyKeys: 'Presiona <i>ctrl</i> o <i>\u2318</i> + <i>C</i> para copiar los datos de la tabla a tu portapapeles. <br><br>Para cancelar, haga clic en este mensaje o presione Esc.',
                    copySuccess: {
                        _: '%d registros copiados correctamente',
                        1: '1 registro copiado correctamente'
                    }
                }
            },
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
        });

        fct_IniciarTablaComprobantes('#tbl_Comprobantes');
    });

    function fct_IniciarTablaDevoluciones(IdTabla) {
        // Inicializar DataTables con botones
        dtDevoluciones = $(IdTabla).DataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="bi bi-back"></i>',
                    titleAttr: 'Copiar en portapapeles',
                    className: 'btn btn-primary',
                },
                {
                    extend: 'excel',
                    text: '<i class="bi bi-file-earmark-excel"></i>',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                    filename: 'Mis devoluciones ' + moment().format('DD-MM-YYYY HH_mm'),
                    footer: true,
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'pdf',
                    text: '<i class="bi bi-file-earmark-pdf"></i>',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    filename: 'Mis devoluciones ' + moment().format('DD-MM-YYYY HH_mm'),
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                },
                {
                    extend: 'print',
                    text: '<i class="bi bi-printer-fill"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'colvis',
                    text: '<i class="bi bi-ui-checks"></i>',
                    titleAttr: 'Seleccionar',
                    className: 'btn btn-warning',
                    columns: ':not(.noVis)',
                },
            ],
            ajax: {
                url: `/Gasto/GetDevolucionesData/${@Model.Id}`,
                type: "GET",
                datatype: "json",
                data: function (d) {
                },
                dataSrc: function (json) {
                    if (json.status === false) {
                        toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                        console.error(json.message);
                        return [];
                    }
                    return json.data;
                },
                error: function (xhr, Status, error) {
                    toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                    console.error('Error en la solicitud Ajax. Status:', Status, 'Error:', error, 'XHR:', xhr);
                },
            },
            columns: [
                        { data: "Id", name: "Id", className: "text-center" },
                        { data: "Empresa", name: "Empresa" },
                        { data: "Usuario", name: "Usuario" },
                        {
                            data: "Fecha",
                            name: "Fecha",
                            className: "text-center",
                            render: function (data) {
                                return data ? moment(data).format('DD/MM/YYYY') : "";
                            }
                        },
                        {
                            data: "Importe",
                            name: "Importe",
                            className: "text-right",
                            render: function (data) {
                                if (!data) return '0.00';
                                return parseFloat(data).toFixed(2);
                            }
                        },
                        { data: "Banco", name: "Banco" },
                        { data: "NroOperacion", name: "NroOperacion", className: "text-center" },
                        { data: "Descripcion", name: "Descripcion" },
                        {
                            data: "Estado",
                            name: "Estado",
                            className: "text-center",
                            render: function (data) {
                                let badgeClass = "";
                                switch (data) {
                                    case "Aprobado": case "Activo": case "Pagado":
                                        badgeClass = "badge-success";
                                        break;
                                    case "Pendiente":
                                        badgeClass = "badge-warning text-dark";
                                        break;
                                    case "Rechazado": case "Anulado": case "Inactivo": case "Observado":
                                        badgeClass = "badge-danger";
                                        break;
                                    default:
                                        badgeClass = "badge-secondary";
                                }
                                return `<h5 class="mb-0 d-flex align-items-center justify-content-center"><span class="badge ${badgeClass} fs-5">${data}</span></h5>`;
                            },
                        },
                        {
                            data: null,
                            render: function (data) {
                                let buttons = '';
                                if (data.Estado === 'Pendiente' || data.Estado === 'Observado') {
                                    buttons += `<button class="btn btn-primary btn-sm m-1" onclick="fct_EditarComprobante('${data.Id}')" title="Editar comprobante"><i class="bi bi-pencil-square"></i></button>`;
                                }
                                buttons += `<button class="btn btn-info btn-sm m-1" onclick="fct_VerObservaciones('${data.Id}')" title="Ver observaciones"><i class="bi bi-eye"></i></button>`;

                                return `<div class="flex-wrap btn-group d-flex justify-content-center">${buttons}</div>`;
                            },
                            className: 'text-center align-middle',
                            orderable: false
                        }
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: "text-center align-middle",
                },
                {
                    targets: [1, 2, 3, 4, 5, 6, 7, 8],
                    className: 'align-middle',
                },
                {
                    targets: [9],
                    orderable: false,
                },
            ],
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
            initComplete: function (data, row, cell, start, end, display) {
                $('.dt-buttons button').addClass('m-1');
                $('.dt-button-collection').appendTo('.dt-buttons');
                $('.btn.btn-success').removeClass('dt-button btn-secondary buttons-excel buttons-html5');
                $('.btn.btn-danger').removeClass('dt-button btn-secondary buttons-pdf buttons-html5');
                $('.btn.btn-primary').removeClass('dt-button btn-secondary buttons-copy buttons-html5');
                $('.btn.btn-info').removeClass('dt-button btn-secondary buttons-print');
                $('.btn.btn-warning').removeClass('dt-button btn-secondary buttons-collection buttons-colvis');
                //Botón Nuevo
                $('button[title="Nuevo"]').attr('id', 'btn_Nuevo');
                $('#btn_Nuevo').removeClass('dt-button');
                $('#btn_Nuevo').appendTo('div.col-sm-4.c1.d-flex.justify-content-end');
            },
        });
    }

    function fct_VerObservaciones(Id) {
        window.location.href = `/Gasto/VerObservaciones/${Id}`;
    }

    function fct_EditarComprobante(Id) {
        window.location.href = `/Gasto/EditarComprobante/${Id}`;
    }

    function ShowSpinner() {
        $('#efec-cargando').removeClass('d-none');
    }

    function HideSpinner() {
        $('#efec-cargando').addClass('d-none');
    }

    function fct_IniciarTablaComprobantes(IdTabla) {
        // Inicializar DataTables con botones
        dtGastos = $(IdTabla).DataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="bi bi-back"></i>',
                    titleAttr: 'Copiar en portapapeles',
                    className: 'btn btn-primary',
                },
                {
                    extend: 'excel',
                    text: '<i class="bi bi-file-earmark-excel"></i>',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                    filename: 'Mis gastos ' + moment().format('DD-MM-YYYY HH_mm'),
                    footer: true,
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'pdf',
                    text: '<i class="bi bi-file-earmark-pdf"></i>',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    filename: 'Mis gastos ' + moment().format('DD-MM-YYYY HH_mm'),
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                },
                {
                    extend: 'print',
                    text: '<i class="bi bi-printer-fill"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'colvis',
                    text: '<i class="bi bi-ui-checks"></i>',
                    titleAttr: 'Seleccionar',
                    className: 'btn btn-warning',
                    columns: ':not(.noVis)',
                },
            ],
            ajax: {
                url: `/Gasto/GetDevolucionesData/${@Model.Id}`,
                type: "GET",
                datatype: "json",
                data: function (d) {
                },
                dataSrc: function (json) {
                    if (json.status === false) {
                        toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                        console.error(json.message);
                        return [];
                    }
                    return json.data;
                },
                error: function (xhr, Status, error) {
                    toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                    console.error('Error en la solicitud Ajax. Status:', Status, 'Error:', error, 'XHR:', xhr);
                },
            },
                columns: [
                { data: "id", name: "id" },
                {
                    data: "fecha",
                    name: "fecha",
                    render: function (data) {
                        return data ? moment(data).format('DD/MM/YYYY') : "";
                    }
                },
                { data: "rucEmpresa", name: "rucEmpresa" },
                { data: "serie", name: "serie" },
                { data: "numero", name: "numero" },
                { data: "tipoComprobante", name: "tipoComprobante" },
                { data: "concepto", name: "concepto" },
                { data: "moneda", name: "moneda" },
                {
                    data: "monto",
                    name: "monto",
                    render: function (data) {
                        if (!data) {
                            return 'Sin monto';
                        }
                        return parseFloat(data).toFixed(2);
                    }
                },
                { data: "descripcion", name: "descripcion" },
                {
                    data: "estado",
                    name: "estado",
                    render: function (data) {
                        let badgeClass = "";
                        // Evaluamos el texto que viene de est.Nombre
                        switch (data) {
                            case "Aprobado": case "Activo": case "Pagado":
                                badgeClass = "badge-success";
                                break;
                            case "Pendiente":
                                badgeClass = "badge-warning text-dark";
                                break;
                            case "Rechazado": case "Anulado": case "Inactivo":
                                badgeClass = "badge-danger";
                                break;
                            default:
                                badgeClass = "badge-secondary";
                        }
                        return `<h5 class="mb-0 d-flex align-items-center justify-content-center"><span class="badge ${badgeClass} fs-5">${data}</span></h5>`;
                    },
                },
                {
                    data: null,
                    render: function (data) {
                        let buttons = '';

                        if (data.estado === 'Pendiente' || data.estado === 'Observado') {
                            buttons += `<button class="btn btn-primary btn-sm m-1" onclick="fct_EditarComprobante('${data.id}')" title="Editar comprobante"><i class="bi bi-pencil-square"></i></button>`;
                        }

                        buttons += `<button class="btn btn-info btn-sm m-1" onclick="fct_VerObservaciones('${data.id}')" title="Ver observaciones"><i class="bi bi-eye"></i></button>`;

                        return `
                        <div class="flex-wrap btn-group">
                            ${buttons}
                        </div>`;
                    },
                    className: 'text-center align-middle',
                }
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: "text-center align-middle",
                },
                {
                    targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                    className: 'align-middle',
                },
                {
                    targets: [11],
                    orderable: false,
                },
            ],
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
            initComplete: function (data, row, cell, start, end, display) {
                $('.dt-buttons button').addClass('m-1');
                $('.dt-button-collection').appendTo('.dt-buttons');
                $('.btn.btn-success').removeClass('dt-button btn-secondary buttons-excel buttons-html5');
                $('.btn.btn-danger').removeClass('dt-button btn-secondary buttons-pdf buttons-html5');
                $('.btn.btn-primary').removeClass('dt-button btn-secondary buttons-copy buttons-html5');
                $('.btn.btn-info').removeClass('dt-button btn-secondary buttons-print');
                $('.btn.btn-warning').removeClass('dt-button btn-secondary buttons-collection buttons-colvis');
                //Botón Nuevo
                $('button[title="Nuevo"]').attr('id', 'btn_Nuevo');
                $('#btn_Nuevo').removeClass('dt-button');
                $('#btn_Nuevo').appendTo('div.col-sm-4.c1.d-flex.justify-content-end');
            },
        });
    }

</script>