@{
    ViewData["Title"] = "Gestión de Anticipos";
}

<div class="card d-none" id="efec-cargando">
    <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center overlay dark" style="z-index: 9999; background: rgba(0,0,0,0.5);">
        <i class="fas fa-3x fa-sync-alt fa-spin text-white"></i>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab01-tab" data-toggle="pill" href="#tab-01" role="tab"
                       aria-controls="tab-01" aria-selected="true">GESTIONAR ANTICIPOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab02-tab" data-toggle="pill" href="#tab-02" role="tab"
                       aria-controls="tab-02" aria-selected="false">MIS ANTICIPOS</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-one-tabContent">

                <!-- Tab 1 -->
                <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab01-tab">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Gestionar anticipos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body mt-3">
                        <div class="row">
                            <div class="col-12">
                                <table id="tbl_Anticipos" class="table table-bordered table-hover w-100">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>FECHA</th>
                                            <th>FECHA LÍMITE</th>
                                            <th>EMPRESA</th>
                                            <th>USUARIO</th>
                                            <th>BANCO</th>
                                            <th>T. RENDICIÓN</th>
                                            <th>MONEDA</th>
                                            <th>MONTO</th>
                                            <th>DESCRIPCIÓN</th>
                                            <th>ESTADO</th>
                                            <th>ACCIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab02-tab">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Gestionar mis anticipos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="panel-body mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <table id="tbl_MisAnticipos" class="table table-bordered table-hover w-100">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>FECHA</th>
                                                        <th>FECHA LÍMITE</th>
                                                        <th>EMPRESA</th>
                                                        <th>USUARIO</th>
                                                        <th>BANCO</th>
                                                        <th>T. RENDICIÓN</th>
                                                        <th>MONEDA</th>
                                                        <th>MONTO</th>
                                                        <th>DESCRIPCIÓN</th>
                                                        <th>ESTADO</th>
                                                        <th>ACCIÓN</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.tab-content -->
        </div> <!-- /.card-body -->
    </div> <!-- /.card -->
</div>
<script>
    var dtAnticiposGeneral;
    var dtMisAnticipos;

    $(document).ready(function () {
        // $('body').addClass('sidebar-collapse');
        var windowHeight = $('body > div.wrapper > div.content-wrapper').height() / 2;
        //CONFIGURACION POR DEFECTO DATATABLES
        $.extend($.fn.dataTable.defaults, {
            dom: "<'row align-items-center'<'col-sm-8 justify-content-start'f><'col-sm-4 c1 d-flex justify-content-end'>>" + "<'row align-items-center'<'col-sm-6'l><'col-sm-6 my-3 justify-content-start d-flex'B>" + "<'col-sm-6'i><'col-sm-6 mb-3 d-flex justify-content-end'p>" + "rt" + "<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>",
            // dom: "<'row pb-1'<'col-sm-9 d-flex'B><'col-sm-3 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-4'l><'col-sm-8 justify-content-start'f>>" + "<'row'<'col-sm-6'i><'col-sm-6 d-flex justify-content-end'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>>",
            // dom: "<'row pb-1'<'col-sm-9'B><'col-sm-3 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-10'l><'col-sm-2'f>>" + "<'row'<'col-sm-6'i><'col-sm-6'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
            // dom: "<'row pb-1'<'col-sm-10'B><'col-sm-2 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-11'l><'col-sm-1'f>>" + "<'row'<'col-sm-10'i><'col-sm-2'p>>" + "rt" + "<'row'<'col-sm-10'i><'col-sm-2'p>>",
            paging: true,
            select: true,
            scroller: false,
            deferRender: true,
            scrollY: windowHeight,
            scrollX: true,
            fixedHeader: true,
            ordering: true,
            destroy: true,
            responsive: true,
            autoWidth: false,
            processing: true,
            filter: true,
            orderMulti: true,
            stateSave: false,
            serverSide: false,
            language: {
                processing: "Procesando...",
                sSearch: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Sin registros encontrados.",
                infoFiltered: "(Total de _MAX_ registros filtrados)",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron registros",
                emptyTable: "No hay datos disponibles en la tabla",
                paginate: {
                    previous: "Anterior",
                    next: "Siguiente",
                    first: "Primero",
                    last: "Último",
                },
                aria: {
                    sortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sortDescending: ": Activar para ordenar la columna de manera descendente"
                },
                select: {
                    rows: {
                        _: "%d filas seleccionadas",
                        0: "Haz clic en una fila para seleccionarla",
                        1: "1 fila seleccionada"
                    }
                },
                buttons: {
                    copyTitle: 'Copiado en el portapapeles',
                    copyKeys: 'Presiona <i>ctrl</i> o <i>\u2318</i> + <i>C</i> para copiar los datos de la tabla a tu portapapeles. <br><br>Para cancelar, haga clic en este mensaje o presione Esc.',
                    copySuccess: {
                        _: '%d registros copiados correctamente',
                        1: '1 registro copiado correctamente'
                    }
                }
            },
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
        });

        fct_IniciarTablaAnticipos('#tbl_Anticipos');
        fct_IniciarTablaMisAnticipos('#tbl_MisAnticipos');

        $(document).on('shown.bs.tab', 'a[data-toggle="pill"]', function (e) {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().responsive.recalc();
            }, 200);
        });
    });

    function fct_IniciarTablaAnticipos(IdTabla) {
        // Inicializar DataTables con botones
        dtAnticiposGeneral = $(IdTabla).DataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="bi bi-back"></i>',
                    titleAttr: 'Copiar en portapapeles',
                    className: 'btn btn-primary',
                },
                {
                    extend: 'excel',
                    text: '<i class="bi bi-file-earmark-excel"></i>',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                    filename: 'Anticipos ' + moment().format('DD-MM-YYYY HH_mm'),
                    footer: true,
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'pdf',
                    text: '<i class="bi bi-file-earmark-pdf"></i>',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    filename: 'Anticipos ' + moment().format('DD-MM-YYYY HH_mm'),
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                },
                {
                    extend: 'print',
                    text: '<i class="bi bi-printer-fill"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'colvis',
                    text: '<i class="bi bi-ui-checks"></i>',
                    titleAttr: 'Seleccionar',
                    className: 'btn btn-warning',
                    columns: ':not(.noVis)',
                },
                {
                    text: '<i class= "bi bi-plus-circle" style="margin-right: 5px;"></i>Nuevo anticipo',
                    className: 'btn bg-success m-1',
                    titleAttr: 'Nuevo',
                    action: function (e, dt, node, config) {
                        fct_AnticipoNuevo();
                    },
                },
            ],
            ajax: {
                url: "/Anticipo/GetAnticiposData",
                type: "GET",
                datatype: "json",
                data: function (d) {
                },
                dataSrc: function (json) {
                    if (json.status === false) {
                        toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                        console.error(json.message);
                        return [];
                    }
                    return json.data;
                },
                error: function (xhr, Status, error) {
                    toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                    console.error('Error en la solicitud Ajax. Status:', Status, 'Error:', error, 'XHR:', xhr);
                },
            },
            columns: [
                { data: "id", name: "id" },
                {
                    data: "fechaSolicitud",
                    name: "fechaSolicitud",
                    render: function (data) {
                        return data ? moment(data).format('DD/MM/YYYY') : "";
                    }
                },
                {
                    data: "fechaLimiteRendicion",
                    name: "fechaLimiteRendicion",
                    render: function (data) {
                        return data ? moment(data).format('DD/MM/YYYY') : "Sin límite";
                    }
                },
                { data: "empresa", name: "empresa" },
                { data: "usuario", name: "usuario" },
                { data: "banco", name: "banco" },
                { data: "tipoRendicion", name: "tipoRendicion" },
                { data: "moneda", name: "moneda" },
                {
                    data: "monto",
                    name: "monto",
                    render: function (data) {
                        return data ? parseFloat(data).toFixed(2) : "0.00";
                    }
                },
                { data: "descripcion", name: "descripcion" },
                {
                    data: "estado",
                    name: "estado",
                    render: function (data) {
                        let badgeClass = "";
                        switch (data) {
                            case "Cerrado":
                                badgeClass = "bg-success";
                                break;
                            case "Pendiente":
                            case "Revisión total":
                            case "Revisión parcial":
                                badgeClass = "bg-warning text-dark";
                                break;
                            case "Parcial":
                            case "Por reembolsar":
                                badgeClass = "bg-info text-dark";
                                break;
                            default:
                                badgeClass = "bg-secondary";
                        }
                        return `<span class="badge ${badgeClass} p-2" style="min-width: 100px;">${data}</span>`;
                    },
                    className: 'text-center'
                },
                {
                    data: null,
                    render: function (data) {
                        // Solo botones de Editar y Ver
                        return `
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm m-1" onclick="fct_AnticipoEditar('${data.id}')" title="Editar Anticipo">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-info btn-sm m-1" onclick="fct_AnticipoVer('${data.id}')" title="Ver Detalle">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>`;
                    },
                    className: 'text-center align-middle',
                    orderable: false
                }
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: "text-center align-middle",
                },
                {
                    targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                    className: 'align-middle',
                },
                {
                    targets: [11],
                    orderable: false,
                },
            ],
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
            initComplete: function (data, row, cell, start, end, display) {
                $('.dt-buttons button').addClass('m-1');
                $('.dt-button-collection').appendTo('.dt-buttons');
                $('.btn.btn-success').removeClass('dt-button btn-secondary buttons-excel buttons-html5');
                $('.btn.btn-danger').removeClass('dt-button btn-secondary buttons-pdf buttons-html5');
                $('.btn.btn-primary').removeClass('dt-button btn-secondary buttons-copy buttons-html5');
                $('.btn.btn-info').removeClass('dt-button btn-secondary buttons-print');
                $('.btn.btn-warning').removeClass('dt-button btn-secondary buttons-collection buttons-colvis');
                //Botón Nuevo
                $('button[title="Nuevo"]').attr('id', 'btn_Nuevo');
                $('#btn_Nuevo').removeClass('dt-button');
                $('#btn_Nuevo').appendTo('div.col-sm-4.c1.d-flex.justify-content-end');
            },
        });
    }

    function fct_IniciarTablaMisAnticipos(IdTabla) {
        // Inicializar DataTables con botones
        dtMisAnticipos = $(IdTabla).DataTable({
            dom: "<'row align-items-center'<'col-sm-8 justify-content-start'f><'col-sm-4 c2 d-flex justify-content-end'>>" + "<'row align-items-center'<'col-sm-6'l><'col-sm-6 my-3 justify-content-start d-flex'B>" + "<'col-sm-6'i><'col-sm-6 mb-3 d-flex justify-content-end'p>" + "rt" + "<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>",
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="bi bi-back"></i>',
                    titleAttr: 'Copiar en portapapeles',
                    className: 'btn btn-primary',
                },
                {
                    extend: 'excel',
                    text: '<i class="bi bi-file-earmark-excel"></i>',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                    filename: 'Mis anticipos ' + moment().format('DD-MM-YYYY HH_mm'),
                    footer: true,
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'pdf',
                    text: '<i class="bi bi-file-earmark-pdf"></i>',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    filename: 'Mis anticipos ' + moment().format('DD-MM-YYYY HH_mm'),
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                },
                {
                    extend: 'print',
                    text: '<i class="bi bi-printer-fill"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'colvis',
                    text: '<i class="bi bi-ui-checks"></i>',
                    titleAttr: 'Seleccionar',
                    className: 'btn btn-warning',
                    columns: ':not(.noVis)',
                },
            ],
            ajax: {
                url: "/Anticipo/GetMisAnticiposData",
                type: "GET",
                datatype: "json",
                data: function (d) {
                },
                dataSrc: function (json) {
                    if (json.status === false) {
                        toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                        console.error(json.message);
                        return [];
                    }
                    return json.data;
                },
                error: function (xhr, Status, error) {
                    toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                    console.error('Error en la solicitud Ajax. Status:', Status, 'Error:', error, 'XHR:', xhr);
                },
            },
            columns: [
                { data: "id", name: "id" },
                {
                    data: "fechaSolicitud",
                    name: "fechaSolicitud",
                    render: function (data) {
                        return data ? moment(data).format('DD/MM/YYYY') : "";
                    }
                },
                {
                    data: "fechaLimiteRendicion",
                    name: "fechaLimiteRendicion",
                    render: function (data) {
                        return data ? moment(data).format('DD/MM/YYYY') : "Sin límite";
                    }
                },
                { data: "empresa", name: "empresa" },
                { data: "usuario", name: "usuario" },
                { data: "banco", name: "banco" },
                { data: "tipoRendicion", name: "tipoRendicion" },
                { data: "moneda", name: "moneda" },
                {
                    data: "monto",
                    name: "monto",
                    render: function (data) {
                        return data ? parseFloat(data).toFixed(2) : "0.00";
                    }
                },
                { data: "descripcion", name: "descripcion" },
                {
                    data: "estado",
                    name: "estado",
                    render: function (data) {
                        let badgeClass = "";
                        switch (data) {
                            case "Cerrado":
                                badgeClass = "bg-success";
                                break;
                            case "Pendiente":
                            case "Revisión total":
                            case "Revisión parcial":
                                badgeClass = "bg-warning text-dark";
                                break;
                            case "Parcial":
                            case "Por reembolsar":
                                badgeClass = "bg-info text-dark";
                                break;
                            default:
                                badgeClass = "bg-secondary";
                        }
                        return `<span class="badge ${badgeClass} p-2" style="min-width: 100px;">${data}</span>`;
                    },
                    className: 'text-center align-middle'
                },
                {
                    data: null,
                    render: function (data) {
                        // Solo botones de Editar y Ver
                        return `
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm m-1" onclick="fct_SubirComprobante('${data.id}')" title="Subir comprobante">
                            <i class="bi bi-upload"></i>
                            </button>
                            <button class="btn btn-info btn-sm m-1" onclick="fct_AnticipoVer('${data.id}')" title="Ver Detalle">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>`;
                    },
                    className: 'text-center align-middle',
                    orderable: false
                }
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: "text-center align-middle",
                },
                {
                    targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                    className: 'align-middle',
                },
                {
                    targets: [11],
                    orderable: false,
                },
            ],
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
            initComplete: function (data, row, cell, start, end, display) {
                $('.dt-buttons button').addClass('m-1');
                $('.dt-button-collection').appendTo('.dt-buttons');
                $('.btn.btn-success').removeClass('dt-button btn-secondary buttons-excel buttons-html5');
                $('.btn.btn-danger').removeClass('dt-button btn-secondary buttons-pdf buttons-html5');
                $('.btn.btn-primary').removeClass('dt-button btn-secondary buttons-copy buttons-html5');
                $('.btn.btn-info').removeClass('dt-button btn-secondary buttons-print');
                $('.btn.btn-warning').removeClass('dt-button btn-secondary buttons-collection buttons-colvis');
            },
        });
    }

    function fct_AnticipoNuevo() {
        window.location.href = '/Anticipo/RegistrarAnticipo';
    }

    function fct_AnticipoEditar(Id) {
        window.location.href = `/Anticipo/Editar/${Id}`;
    }

    function fct_AnticipoVer(Id) {
        window.location.href = `/Anticipo/VerAnticipo/${Id}`;
    }

    function fct_SubirComprobante(Id) {
        window.location.href = `/Anticipo/SubirComprobante/${Id}`;
    }

    function ShowSpinner() {
        $('#efec-cargando').removeClass('d-none');
    }

    function HideSpinner() {
        $('#efec-cargando').addClass('d-none');
    }
</script>